///////////////////////////////////////
//  Media Queries
///////////////////////////////////////

$desktop-width: 1160px;
$tablet-width: 960px;
$mobile-width: 768px;
$mobile-portrait-width: 480px;

@mixin desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin mobile-portrait {
  @media (min-width: #{$mobile-portrait-width}) and (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin retina {
  @media
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}